In [2]:
import numpy as np
import pandas as pd
from pandas import DataFrame
!pip3 install tabula-py
import tabula

Requirement already satisfied: tabula-py in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (2.1.0)
Requirement already satisfied: pandas>=0.25.3 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from tabula-py) (1.0.3)
Requirement already satisfied: distro in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from tabula-py) (1.5.0)
Requirement already satisfied: numpy in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from tabula-py) (1.18.3)
Requirement already satisfied: pytz>=2017.2 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from pandas>=0.25.3->tabula-py) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in /Users/runchentao/Library/Python/3.7/lib/python/site-packages (from pandas>=0.25.3->tabula-py) (2.8.1)
Requirement already satisfied: six>=1.5 in /Users/runchentao/Library/Python/3.7/lib/python/site-packages (from python-dateutil>=2.6.1->pandas>=0.25.3->tabula-py) (1.14.0)
You are using pip version 19.0.3, however version 20.1b1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [15]:
def listToString(s):  
    
    # initialize an empty string 
    str1 = ""  
    
    # traverse in the string   
    for ele in s:  
        str1 += ele   
    
    # return string   
    return str1  

# reading table using tabula
#filepath = "/Users/runchentao/Desktop/bank statement template 09.pdf"
filepath = "/Users/runchentao/Desktop/bank statement template 18.pdf"

#data = tabula.read_pdf(filepath,pages='all',silent=True,pandas_options={'header': None})
data = tabula.read_pdf(filepath,pages='all', pandas_options={'header': None})

df = listToString(data)
df

              0                        1            2          3          4
0          DATE              PARTICULARS     WITHDRAW    DEPOSIT    BALANCE
1   01-Jan-2019             ATM Withdraw       100.00       0.00     319.08
2   01-Jan-2019             ATM Withdraw       100.00       0.00     219.08
3   01-Jan-2019             ATM Withdraw       100.00       0.00     119.08
4   01-Jan-2019             ATM Withdraw       100.00       0.00      19.08
5   02-Jan-2019                ACCOUN/FR         0.00  10,103.66  10,122.74
6   02-Jan-2019             ATM Withdraw       100.00       0.00  10,022.74
7   02-Jan-2019             ATM Withdraw       100.00       0.00   9,922.74
8   03-Jan-2019  CWDR/MOKKA-MODINA TOWER  CT 9,500.00       0.00     422.74
9   07-Jan-2019                ACCOUN/FR         0.00   6,490.89   6,913.63
10  07-Jan-2019  CWDR/MOKKA-MODINA TOWER  CT 6,000.00       0.00     913.63
11  10-Jan-2019  CWDR/MOKKA-MODINA TOWER     CT500.00       0.00     413.63
12          NaN                      NaN          NaN        NaN        NaN
13          NaN                      NaN    16,600.00  16,594.55     413.63

In [18]:
df.dropna (how = 'all', inplace = True)
df.fillna("", inplace= True)
df

              0                        1            2          3          4
0          DATE              PARTICULARS     WITHDRAW    DEPOSIT    BALANCE
1   01-Jan-2019             ATM Withdraw       100.00       0.00     319.08
2   01-Jan-2019             ATM Withdraw       100.00       0.00     219.08
3   01-Jan-2019             ATM Withdraw       100.00       0.00     119.08
4   01-Jan-2019             ATM Withdraw       100.00       0.00      19.08
5   02-Jan-2019                ACCOUN/FR         0.00  10,103.66  10,122.74
6   02-Jan-2019             ATM Withdraw       100.00       0.00  10,022.74
7   02-Jan-2019             ATM Withdraw       100.00       0.00   9,922.74
8   03-Jan-2019  CWDR/MOKKA-MODINA TOWER  CT 9,500.00       0.00     422.74
9   07-Jan-2019                ACCOUN/FR         0.00   6,490.89   6,913.63
10  07-Jan-2019  CWDR/MOKKA-MODINA TOWER  CT 6,000.00       0.00     913.63
11  10-Jan-2019  CWDR/MOKKA-MODINA TOWER     CT500.00       0.00     413.63
13                                          16,600.00  16,594.55     413.63

In [20]:
df.size

65

In [24]:
df.to_csv('file_name.csv')